<div id="todoModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="todoModalMain">
      <div id="search-title"></div>
      <div id="search-category"></div>

      <div id="select-category">
        <div id = "categoryButtons">
          <button id="bookCategoryButton">Book</button>
          <button id="movieCategoryButton">Movie</button>
          <button id="restaurantCategoryButton">Restuarant</button>
          <button id="productCategoryButton">Product</button>
        </div>
      </div>
    </div>
  </div>

</div>