<div id="todo">
  <form action="#">
    <input class="search_term" name="search_term" type="text" placeholder="What would you like Todo?">

    <input type="submit" value="Submit" style="background-color: #FFFFC0;">
  </form>
</div>