<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- use partials
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <nav class="userNav">
        <div class="loginBlock">
            <form id="loginForm" action="/login" method="post">
                <input name="loginID" type="text">
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="logoutBlock">
            <span class="loggerUserName"></span>
            <form id="logoutForm" action="/logout" method="post">
                <input type="submit" class="logoutButton" value="Logout">
            </form>
        </div>
    </nav>
</header>
<main class="formContainer">
    <h2>ToDo!</h2>

    <span class="ui-widget">
        <label for="todoText"></label>
        <input type="text" name="name" id="todoText">
    </span>
        <button id="todoButton">Test</button>
    <img id="loadingSpinner" src="images/loadingspinner.gif">
    <div id="categoryButtons">
        <button id='#bookCategoryButton'>Book</button><button id='#movieCategoryButton'>Movie</button><button id='#restuarantCategoryButton' >Restuarant</button><button id='#productCategoryButton'>Product</button><button id='#defaultCategoryButton'>???</button><button id='#cancelCategoryButton'>X</button>
    </div>
    <article>
        <span>NAME </span><span>TYPE</span>
    </article>
    <section id="todoContainer"></section>

</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="js/index_client.js"></script>
<link rel="stylesheet" href="jqueryui/jquery-ui.min.css">
<script src="jqueryui/external/jquery/jquery.js"></script>
<script src="jqueryui/jquery-ui.min.js"></script>

</body>
</html>
