/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  z-index: 10; }

/* Modal Content/Box */
.modal-content {
  background-color: #335C7D;
  top: 30%;
  width: 30%;
  height: 50%;
  margin: auto;
  /* 15% from the top and centered */
  padding: 20px;
  box-shadow: none; }
  .modal-content #modalMain {
    height: 100%;
    width: 80%; }
    .modal-content #modalMain button {
      width: 90%;
      height: 40%;
      margin: 5%;
      background-color: #efc47D;
      font-size: 2em;
      border: #335C7D;
      border-radius: 5px;
      border-style: solid; }
      @media screen and (max-width: 720px) {
        .modal-content #modalMain button {
          width: 90%;
          height: 40%;
          margin: 10%; } }
    .modal-content #modalMain #loginForm, .modal-content #modalMain #registrationForm {
      height: 100%;
      width: 80%; }
      .modal-content #modalMain #loginForm input, .modal-content #modalMain #registrationForm input {
        font-size: 2em;
        margin: 5%;
        height: 20%;
        width: 100%; }
        @media screen and (max-width: 720px) {
          .modal-content #modalMain #loginForm input, .modal-content #modalMain #registrationForm input {
            width: 90%;
            height: 25%;
            margin: 10%; } }

@media screen and (max-width: 720px) {
  .modal-content {
    top: 5%;
    height: 90%;
    width: 90%; } }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }
