body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {


}

#categoryButtons{
  display: none;
}

#loadingSpinner{
  height: 50px;
  display:none;
}

.hidden{
  display : none;
}